
/*
 * @author Manos Chatzakis (chatzakis@ics.forth.gr)
 * @author George Kokolakis (gkokol@ics.forth.gr)
 */

body {
    background-color: rgb(91, 114, 122);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.card:hover 
{
    background-color: rgb(169, 193, 238);
    transform: translatey(-3ch);
    width:300px !important

}