<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
        <url-pattern>/Search_proteins</url-pattern>
    </servlet>
    <servlet>
        <servlet-name>DoctorServlet</servlet-name>
        <servlet-class>Servlets.DoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NurseServlet</servlet-name>
        <servlet-class>Servlets.NurseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientServlet</servlet-name>
        <servlet-class>Servlets.PatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkerServlet</servlet-name>
        <servlet-class>Servlets.WorkerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticsServlet</servlet-name>
        <servlet-class>Servlets.StatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Statistics</servlet-name>
        <servlet-class>Servlets.Statistics</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorServlet</servlet-name>
        <url-pattern>/DoctorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NurseServlet</servlet-name>
        <url-pattern>/NurseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientServlet</servlet-name>
        <url-pattern>/PatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkerServlet</servlet-name>
        <url-pattern>/WorkerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticsServlet</servlet-name>
        <url-pattern>/StatisticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Statistics</servlet-name>
        <url-pattern>/Statistics</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
